generated_cymj*
_pyxbld*
dist
cache
.idea/*
*~
.*~
*#*#
*.o
*.dat
*.prof
*.lprof
*.local
.realsync
.DS_Store
**/*.egg-info
.cache
*.ckpt
*.log
.ipynb_checkpoints
venv/
.vimrc
*.settings
*.svn
.project
.pydevproject
tags
*sublime-project
*sublime-workspace
# Intermediate outputs
__pycache__
**/__pycache__
*.pb.*
*.pyc
*.swp
*.swo
# generated data
*.rdb
*.db
*.avi
# mujoco outputs
MUJOCO_LOG.TXT
model.txt
.window_data
.idea/*.xml
outputfile
tmp*
cymj.c
**/.git
**/*.so
