include pyproject.toml
include requirements.txt
include requirements.dev.txt
recursive-include mujoco_py *.h *.py *.pyx *.pxd *.pxi *.xml *.c
include mujoco_py/gl/*.c
include setup.py
include mujoco_py/generated/cymj_*_linuxcpuextensionbuilder.so
include mujoco_py/generated/cymj_*_linuxgpuextensionbuilder.so
include xmls/*
